.App {
  padding: 0px 50px;
  width: 60%
}

h1, h2, h3, h4, h5, p {
  color: #464646
}

.post {
  font-size: 8pt;
  padding-top: 5px;
}

.post-title {
  font-size: 12pt;
  text-decoration: none !important;
  color: #005c99;
}
.post-title:hover {
  color: #00365a;
}

button {
  font-size: 10pt;
  text-decoration: none !important;
  color: #005c99;
  border: solid 2px #005c99;
  padding: 5px;
  margin-right: 5px
}

button:hover {
  color: white;
  background-color: #005c99;
  border: solid 2px #005c99;
}

input, textarea, select {
  margin: 5px 0px 10px 0px;
  display: block;
  width: 60%;
  border: solid #d1d1d1 0.5px;
  padding: 5px;
}

.category-button {
  background-color: #005c99;
  color: white;
}

.category-button:hover {
  background-color: #004675;
  color: white;
}

.nav {
  text-decoration: none !important;
  font-size: 20pt;
  color: #005c99;
  display: block;
  padding: 10px 0px;
  margin: 0px 0px 15px 0px;
  border-bottom: #005c99 solid 4px;
}

small {
  display: block;
  font-size: 7pt;
  padding-bottom: 15px;
  margin-top: -5px
}